@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family:Lato, sans-serif;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 , h3{
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 1.5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu-then li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#art-outer {
    height: 400px;
    width: 80%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}
/*#art-onder {
    height: 400px;
    width: 80%;
    overflow: hidden;

    position: relative;
}*/
#art-image {
    height: 400px;
    width: 80%;
    background: url('../images/art-geo.webp') no-repeat center center;
}
/*#then-image {
    height: 100px;
    width: 100%;
    background: url('../images/Mesopotamia.webp') no-repeat center center;
}*/
#cover-text {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255,101,80,0.4)

    bottom: 30px;
    right: 150px;

    position: absolute;
}
/* Geometry then */
#geometry-then {
    height: 50px;
    margin: 30px;
}
#geometry-now {
    height: 50px;
    margin: 30px;
}
/*
#to-the-left {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#to-the-right {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}
#in-the-center {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}*/